/* BEGIN EXTERNAL SOURCE */
span {
margin:100px 0px;display:block; height:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h3 {
text-align:center
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h2 {
text-align:center
}
/* END EXTERNAL SOURCE */
